<%- include('../partials/head.ejs') %>
<%- include('../partials/menuUser.ejs') %>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <%if(lixos != 0) { %>
            <table class="table table-bordered">
                <thread>
                    <th class="col-4">Tipo</th>
                    <th class="col-2">Quantidade Reciclada</th>
                    <th class="col-2">Valor</th>
                    <th class="col-2">Reciclado Por</th>
                    <th class="col-2">Reciclado em</th>
                </thread>
                <tbody>
                    <% lixos.forEach(lixo => { %>
                        <tr>
                            <td><%= lixo.tipo %> </td>
                            <td>
                                <%= lixo.peso%> Kg's
                            </td>
                            <td>
                                <%= lixo.valor%> R$
                            </td>
                            <td>
                                <%= lixo.nome%>
                            </td>
                            <td>
                                <% if(lixo.createdAt.getDate() < 10){ %>0<%}%><%= lixo.createdAt.getDate()%>/<% if(lixo.createdAt.getMonth() < 10){ %>0<%} %><%= lixo.createdAt.getMonth() + 1 %>/<%= lixo.createdAt.getFullYear() %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <%} else{ %>
                <p>Ainda não há movimentações</p>
            <% } %>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>