<%- include('../partials/head.ejs') %>
<%- include('../partials/menuUser.ejs') %>
<h1>Hello World</h1>
<a href="/usuarios/delete" class="btn btn-primary">Deletar Conta</a>
<table class="table table-bordered">
    Saldo conquistado até o momento: <%= usuario.saldo%> R$
    <thread>
        <th class="col-10">Tipos</th>
        <th class="col-2">Quantidade Reciclada</th>
    </thread>
    <tbody>
        <% lixos.forEach(lixo => { %>
            <tr>
                <td><%= lixo.tipo %> </td>
                <td>
                    <%= lixo.peso_total %> Kg's
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer.ejs') %>